In [6]:
import pandas as pd
import timeit
from collections import deque

In [3]:
number_of_repeats = 1000
operations = [
    ("list.pop()", "lst.pop()"),
    ("list.pop(0)", "lst.pop(0)"),
    ("list.append(1)", "lst.append(1)"),
    ("list.insert(0, 1)", "lst.insert(0, 1)")
]
sizes = [10000, 20000, 30000]
results = []

for size in sizes:
    for _, stmt in operations:
        setup_code = f"lst = list(range({size}))"
        time_taken = timeit.timeit(stmt, setup=setup_code, number=number_of_repeats)
        results.append(time_taken / number_of_repeats * 1e6)

table_header = ["Code"] + [f"N={size} (μs)" for size in sizes] + ["Time"]
time_complexity = ["O(1)", "O(N)", "O(1)", "O(N)"]

table_rows = []
for i, (name, _) in enumerate(operations):
    row = [name] + results[i::len(operations)] + [time_complexity[i]]
    table_rows.append(row)

df = pd.DataFrame(table_rows, columns=table_header)
display(df)

                Code  N=10000 (μs)  N=20000 (μs)  N=30000 (μs)  Time
0         list.pop()      0.055875      0.021250      0.020792  O(1)
1        list.pop(0)      3.044917      4.113500      5.717791  O(N)
2     list.append(1)      0.018708      0.016416      0.016334  O(1)
3  list.insert(0, 1)      6.511375     11.775750     16.985292  O(N)

In [4]:
number_of_repeats = 1000

operations = [
    ("deque.pop()", "deq.pop()"),
    ("deque.popleft()", "deq.popleft()"),
    ("deque.append(1)", "deq.append(1)"),
    ("deque.appendleft(1)", "deq.appendleft(1)")
]

sizes = [10000, 20000, 30000]
results = []

for size in sizes:
    size_results = []
    for operation, stmt in operations:
        setup_code = f"from collections import deque\ndeq = deque(range({size}))"
        time_taken = timeit.timeit(stmt, setup=setup_code, number=number_of_repeats)
        size_results.append(time_taken / number_of_repeats * 1e6)
    results.append(size_results)

# Construct rows for the DataFrame
rows = []
for i, (operation, _) in enumerate(operations):
    row = [operation] + [results[j][i] for j in range(len(sizes))] + ["O(1)"]
    rows.append(row)

df_results = pd.DataFrame(rows, columns=["Code"] + [f"N={size} (μs)" for size in sizes] + ["Time"])
display(df_results)

                  Code  N=10000 (μs)  N=20000 (μs)  N=30000 (μs)  Time
0          deque.pop()      0.019584      0.018584      0.018709  O(1)
1      deque.popleft()      0.017541      0.017125      0.017208  O(1)
2      deque.append(1)      0.021167      0.089791      0.018959  O(1)
3  deque.appendleft(1)      0.016917      0.018959      0.017708  O(1)

In [5]:
number_of_repeats = 1000
sizes = [10000, 20000, 30000]

operations = [
    ("deque[0]", "deque[0]", "O(1)"),
    ("deque[N-1]", "deque[-1]", "O(1)"),
    ("deque[int(N/2)]", "deque[int(len(deque)/2)]", "O(N)")
]

results = {size: [] for size in sizes}

for size in sizes:
    for _, stmt, _ in operations:
        setup_code = f"from collections import deque\ndeque = deque(range({size}))"
        time_taken = timeit.timeit(stmt, setup=setup_code, number=number_of_repeats)
        results[size].append(time_taken / number_of_repeats * 1e6)

data = []
for i, (operation, _, complexity) in enumerate(operations):
    times = [results[size][i] for size in sizes]
    data.append([operation] + times + [complexity])

df_results = pd.DataFrame(data, columns=["Code"] + [f"N={size} (μs)" for size in sizes] + ["Time"])
df_results

              Code  N=10000 (μs)  N=20000 (μs)  N=30000 (μs)  Time
0         deque[0]      0.025542      0.016958      0.016958  O(1)
1       deque[N-1]      0.019334      0.478583      0.019125  O(1)
2  deque[int(N/2)]      0.165375      0.248875      0.330250  O(N)